# Ignore all files in the data directory
data/*

# Ignore all files in the processed_data directory
processed_data/*

# Ignore all pychache files 
*.pyc

# Ignore all pycache directories
__pycache__/

# Ignore evaluation model and results directories
evaluation/models/*
evaluation/results/*

# Ignore other common large files
*.joblib
*.pkl
*.model
*.bin
*.h5
*.hdf5
*.pt
*.pth


